/* attributes */

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: "Rufina", serif;
    color: #002d5b;
    margin-top: 15px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
    line-height: 1.1;
}

p {
    font-family: "Rubik", sans-serif;
    color: #464d65;
    font-size: 16px;
    text-align: justify;
}

span {
    color: #ec5b53;
}

/* ids */

#about{
    height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    margin: 0px auto;
}

#about .about-me {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.about-me .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-me .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about p {
    width: 80%;
    line-height: 25px;
}

#about img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

#description {
    margin-top: 30px
}

#greeting {
    color: #ec5b53;
    font-size: 22px;
    margin-bottom: 15px
}
#jobs {
    height: 100vh;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;  
    margin: 0px auto;
}

#jobs .history {
    height: 40%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#jobs ul li {
    margin-bottom: 15px;
}
#jobs .nav-pills .nav-link {
    color: #000;
    background: none
}

#jobs .nav-pills .nav-link .active {
    color: red;
}
/* classes */

ul {
    list-style: outside;
    line-height: 30px;
    padding: 0px;
    margin-left: 15px;
}
.about-me .skills {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.btn {
    background: #ec5b53;
    padding: 27px 44px;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    -moz-user-select: none;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.hero-element #subtitle {
    font-size: 60px;
}

.jumbotron {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #E1E5E8;
}
.jumbotron h1 {
    margin-bottom: 15px;
}
.jumbotron p {
    line-height: 30px;
    margin-bottom: 30px;
    width: 60%;
}

.name {
    font-size: 80px;
    font-weight: bolder;
}

.navbar-light {
    z-index: 6;
    position: fixed;
    top: 0;
    min-height: 80px;
    width: 100%;
    transition: top 0.3s;
}

.navbar-light .navbar-collapse ul {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000019;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    margin: 0px 20px
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ec5b53;
}

.navbar-light .btn {
    padding: 27px 30px;
}

@media (max-width: 767px) {
    h1, h2, h3{
        font-size: 35px;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 20px;
    }
    .jumbotron {
        margin-top: 50px;
    }
    .jumbotron p {
        width: 100%;
    }
    .name, .hero-element #subtitle {
        font-size: 40px;
    }
    p {
        font-size: 15px;
    }
    #about {
        height: 100%;
    }
    #about p {
        width: 100%;
    }
    #about .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about img {
        border-radius: 5px;
        max-width: 225px;
        height: auto;
    }
    #jobs .history {
        display: flex;
        flex-direction: row;
        height: 75%;
    }
}